body {font:menu}
body div { height:500px }

body, div, h1 {
    color: white;
    padding: 0px;
    margin: 0px;
}

h1 { padding: 10px}

.rpgEncounters { background: rgb(0, 71, 153) }
.rpgDiceRoller { background: rgb(175, 0, 0) }
.mtgTokenCounter { background: rgb(0, 153, 33) }

.storelink {float: right}
.storelink img { width: 200px;}