body, div, h1, ul, li, p {
    color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    line-height: 1.3em;
}

body {font:menu; font-size: 1em; 
    background: #353535 url(gfx/background.jpg);
    background-attachment: fixed; 
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

a {color: #ffffff; text-decoration: none; padding-right: 30px }

h1, p, div {font-family: 'Roboto Condensed', sans-serif;}

.img-logo {border-radius: 12px; margin:20px 20px 0px 20px; float: left; width: calc(35px + 3vw);}
h1 {  padding: 20px 30px 0px 10px; font-weight:normal; font-size:calc(12px + 2.5vw);  text-shadow: 2px 2px 4px #ffffff; text-align:left }
p {padding: 0px 30px 0px 10px; font-size:90%; color: #757575; text-align: left}

ul {padding: 30px 20px 20px 50px; font-size: 100%; color: #353535;}
li {line-height: 1.6em}

.rpgEncounters { }
.rpgDiceRoller {   }
.mtgTokenCounter {  }

.appHolder { height:670px; position: relative; border-bottom: 1px solid #999; }

.storelink {position: absolute; left: 20px; bottom:20px; }
.storelink img { width: 120px;  box-shadow: 0px 0px 22px  rgba(255,255,255,0.5);}

.backgroundImage { position: absolute; bottom: 0px; right: 0px; margin: 0px; height: 400px; }


.footer { color: #999; text-align: right; padding: 10px 20px 10px 20px; background: #353535}

.textHolder {background: #ffffff; height: 320px}